span {
  height: 50px;
  width: 70px;
  background-color: green;
   display: inline;
/*  float: right;*/
}
div {
  height: 100px;
  width: 45%;
  background-color: blue;
/*  display: inline-block;*/
  float: left;
}
p {
  height: 100px;
  width: 200x;
  background-color: red;
  clear: both;
}
